<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="images" href="/static/images">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="text-block">
        <a href="/">Hjemmeside</a>
        <a href="kontakt.html">Kontakt</a>
        <a href="meny.html">Meny</a>
        <a href="varer.html">Varer</a>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>