{% extends "base.html" %}

{% block title %} varer {% endblock %}

{% block content %}
<h1> Varer </h1>


<ol>
    <li>sjokolademelk</li>
        pris: 40 kr
        <br>
        <img src="/static/images/sjoko_inv.png" width="100" height="200">
    <li> Eple </li>
        pris: 15 kr
        <br>
        <img src="/static/images/apple_inv.png" width="200" height="200">


    <li>yoghurt</li>
        <ol>
            <li>vanilje</li>
                pris: 30 kr
                <br>
                <img src="/static/images/valilje_inv.png" width="500" height="250">
            <li>jordbær</li>
                pris: 30 kr
                <br>
                <img src="/static/images/jord_inv.png" width="500" height="250">
            <li>skogsbær</li>
                pris: 30 kr
                <br>
                <img src="/static/images/skog_inv.png" width="500" height="250">
        </ol>
    <li>brus</li>
        <ol>
            <li>cola zero</li>
                pris: 43 kr
                <br>
                <img src="/static/images/zero.webp" width="300" height="300">
            <li>cola</li>
                pris: 43 kr
                <br>
                <img src="/static/images/cola_inv.png" width="110" height="300">
            <li>sprite</li>
                pris: 43 kr
                <br>
                <img src="/static/images/sprite.webp" width="300" height="300">
            <li>fanta</li>
                pris: 43 kr
                <br>
                <img src="/static/images/fanta_inv.png" width="400" height="400">
        </ol>
</ol>


{% endblock %}