{% extends "base.html" %}

{% block title %} varer {% endblock %}

{% block content %}
<h1> Varer </h1>


<ol>
    <li>sjokolademelk</li>
        pris: 40 kr
        <img src="/static/images/sjoko_inv.png" >
    <li>yoghurt</li>
        <ol>
            <li>vanilje</li>
                pris: 30 kr
                <img src="/static/images/valilje_inv.png">
            <li>jordbær</li>
                pris: 30 kr
                <img src="/static/images/jord_inv.png">
            <li>skogsbær</li>
                pris: 30 kr
                <img src="/static/images/skog_inv.png">
        </ol>
    <li>brus</li>
        <ol>
            <li>cola zero</li>
                pris: 43 kr
                <img src="/static/images/zero.webp" >
            <li>cola</li>
                pris: 43 kr
                <img src="/static/images/cola_inv.png">
            <li>sprite</li>
                pris: 43 kr
                <img src="/static/images/sprite.webp">
            <li>fanta</li>
                pris: 43 kr
                <img src="/static/images/fanta_inv.png">
        </ol>
</ol>


{% endblock %}